---
# установка пакетов npm, nodejs
# создание сервисного пользователя www-data
# создание директории /var/www-data с правами 0755 www-data:www-data
# загрузка артефактов из Nexus — параметризуйте номера версий
# создание systemd-юнита для сервиса
# запуск фронтенда

- name: install nodejs
  apt:
    name:
      - nodejs
      - npm
    state: present
  become: yes

- name: install http-server
  npm:
    name: http-server
    global: yes
  become: yes

- name: add service user www-data
  user:
    name: "www-data"
    create_home: no
    shell: /sbin/nologin
  become: yes

- name: create a directory /tmp/frontend
  file:
    path: /tmp/frontend
    state: directory
    mode: 0755

- name: create a directory /var/www-data
  file:
    path: /var/www-data
    state: directory
    mode: 0755
    owner: www-data
    group: www-data
  become: yes

- name: download frontend
  get_url:
    url: "https://nexus.praktikum-services.ru/repository/sausage-store-kim-sergey-frontend/sausage-store/{{ front_version }}/sausage-store-{{ front_version }}.tar.gz"
    url_username: s.kim
    url_password: "{{ nexus_pass }}"
    dest: /tmp/frontend/
    mode: 0755

- name: untar archive
  unarchive:
    src: /tmp/frontend/sausage-store-{{ front_version }}.tar.gz
    dest: /var/www-data
    owner: www-data
    group: www-data
    mode: 0755
    remote_src: yes
  become: yes

- name: frontend unit file
  template:
    src: sausage-store-frontend.service.j2
    dest: /etc/systemd/system/sausage-store-frontend.service
  become: yes

- name: configure systemd
  systemd:
    daemon_reload: yes
    enabled: yes
    state: restarted
    name: sausage-store-frontend
  become: yes